********NOTE !! = 1.XGBOOST DOESNT SUPPORT CATEGORICAL VALUES DIRECTLY, CONVERT TO NUMPY FIRST*************
                  2.SCALING(NORMALIZATION) FROM SKLEARN CONVERTS DF TO NP ARRAY

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score,StratifiedKFold
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
from imblearn.over_sampling import SMOTE 
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [3]:
pd.options.display.max_columns= None

In [4]:
data = pd.read_csv('train_Df64byy.csv')
data

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,No,X3,NaN,NaN,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,No,X3,7.0,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,No,X2,2.0,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,No,X3,2.0,3.0,18,11424.0,0

In [6]:
test = pd.read_csv('test_YCcRUnU.csv')
test.head(3)
test.shape

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0

(21805, 13)

In [51]:
df0 = pd.concat([data,test],axis=0,sort=True)
df0 = df0.set_index('ID')

In [52]:
df0

,Accomodation_Type,City_Code,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Is_Spouse,Lower_Age,Reco_Insurance_Type,Reco_Policy_Cat,Reco_Policy_Premium,Region_Code,Response,Upper_Age
ID,,,,,,,,,,,,,
1,Rented,C3,X1,14+,3.0,No,36,Individual,22,11628.0,3213,0.0,36
2,Owned,C5,X2,NaN,NaN,No,22,Joint,22,30510.0,1117,0.0,75
3,Owned,C5,NaN,1.0,1.0,No,32,Individual,19,7450.0,3732,1.0,32
4,Owned,C24,X1,14+,3.0,No,48,Joint,19,17780.0,4378,0.0,52
5,Rented,C8,X2,3.0,1.0,No,44,Individual,16,10404.0,2190,0.0,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72683,Owned,C3,X1,4.0,1.0,No,45,Individual,18,15884.0,1044,NaN,45
72684,Owned,C4,X5,6.0,3.0,No,59,Individual,18,21390.0,266,NaN,59
72685,Owned,C12,X3,NaN,NaN,No,74,Individual,1,17836.0,2470,NaN,74
72686,Rented,C10,X4,3.0,1.0,No,25,Individual,19,11568.0,1676,NaN,25
72687,Owned,C2,X2,14+,2.0,No,73,Individual,3,23040.0,3617,NaN,73

In [53]:
df = df0.copy()

In [10]:
ProfileReport(df_train)

NameError: name 'df_train' is not defined

In [54]:
df['Reco_Policy_Cat'].value_counts()

22    9459
18    7890
21    7161
16    5786
17    5445
19    5319
20    4511
12    3127
1     2775
2     2677
14    2512
13    2441
15    2256
3     1550
4     1464
5     1453
6     1181
7     1151
8     1150
9     1146
10    1123
11    1110
Name: Reco_Policy_Cat, dtype: int64

In [55]:
df.fillna('Unknown',inplace=True)

In [56]:
df

,Accomodation_Type,City_Code,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Is_Spouse,Lower_Age,Reco_Insurance_Type,Reco_Policy_Cat,Reco_Policy_Premium,Region_Code,Response,Upper_Age
ID,,,,,,,,,,,,,
1,Rented,C3,X1,14+,3,No,36,Individual,22,11628.0,3213,0,36
2,Owned,C5,X2,Unknown,Unknown,No,22,Joint,22,30510.0,1117,0,75
3,Owned,C5,Unknown,1.0,1,No,32,Individual,19,7450.0,3732,1,32
4,Owned,C24,X1,14+,3,No,48,Joint,19,17780.0,4378,0,52
5,Rented,C8,X2,3.0,1,No,44,Individual,16,10404.0,2190,0,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72683,Owned,C3,X1,4.0,1,No,45,Individual,18,15884.0,1044,Unknown,45
72684,Owned,C4,X5,6.0,3,No,59,Individual,18,21390.0,266,Unknown,59
72685,Owned,C12,X3,Unknown,Unknown,No,74,Individual,1,17836.0,2470,Unknown,74
72686,Rented,C10,X4,3.0,1,No,25,Individual,19,11568.0,1676,Unknown,25
72687,Owned,C2,X2,14+,2,No,73,Individual,3,23040.0,3617,Unknown,73

In [57]:
tgt = df[['Response']]
tgt.head(3)
tgt.value_counts()

   Response
ID
1         0
2         0
3         1

Response
0.0         38673
Unknown     21805
1.0         12209
dtype: int64

In [58]:
df.head(3)

,Accomodation_Type,City_Code,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Is_Spouse,Lower_Age,Reco_Insurance_Type,Reco_Policy_Cat,Reco_Policy_Premium,Region_Code,Response,Upper_Age
ID,,,,,,,,,,,,,
1,Rented,C3,X1,14+,3,No,36,Individual,22,11628.0,3213,0,36
2,Owned,C5,X2,Unknown,Unknown,No,22,Joint,22,30510.0,1117,0,75
3,Owned,C5,Unknown,1.0,1,No,32,Individual,19,7450.0,3732,1,32

In [59]:
df=pd.get_dummies(df,columns = ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse',],prefix_sep='_')

In [62]:
scaler = StandardScaler()
# transform data
df['Reco_Policy_Premium'] = scaler.fit_transform(df[['Reco_Policy_Premium']])

In [63]:
df['Holding_Policy_Type'] = df['Holding_Policy_Type'].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72687 entries, 1 to 72687
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   City_Code                       72687 non-null  object
 1   Health Indicator                72687 non-null  object
 2   Holding_Policy_Duration         72687 non-null  object
 3   Holding_Policy_Type             72687 non-null  object
 4   Lower_Age                       72687 non-null  int64
 5   Reco_Policy_Cat                 72687 non-null  int64
 6   Reco_Policy_Premium             72687 non-null  float64
 7   Region_Code                     72687 non-null  int64
 8   Response                        72687 non-null  object
 9   Upper_Age                       72687 non-null  int64
 10  Accomodation_Type_Owned         72687 non-null  uint8
 11  Accomodation_Type_Rented        72687 non-null  uint8
 12  Reco_Insurance_Type_Individual  72687 non-null  uint8
 13  Reco_Insurance_Type_Joint       72687 non-null  uint8
 14  Is_Spouse_No                    72687 non-null  uint8
 15  Is_Spouse_Yes                   72687 non-null  uint8
dtypes: float64(1), int64(4), object(5), uint8(6)
memory usage: 6.5+ MB

In [64]:
# df2.City_Code = df2.City_Code.apply(lambda x: x.replace('C',''))
# df2['Health Indicator'] = df2['Health Indicator'].apply(lambda x: x.replace('X',''))
# df2.drop(['combined'],axis=1,inplace=True)
# df2['Health Indicator'] = df2['Health Indicator'].apply(lambda x: x.replace('Unknown','1'))
# df2['Holding_Policy_Type'] = df2['Holding_Policy_Type'].apply(lambda x: x.replace('Unknown','3.0'))

In [65]:
df.City_Code = df.City_Code.apply(lambda x: x.replace('C',''))
df['Health Indicator'] = df['Health Indicator'].apply(lambda x: x.replace('X',''))
df['Health Indicator'] = df['Health Indicator'].apply(lambda x: x.replace('Unknown','1'))
df['Holding_Policy_Type'] = df['Holding_Policy_Type'].apply(lambda x: x.replace('Unknown','3.0'))

In [66]:
df

,City_Code,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Region_Code,Response,Upper_Age,Accomodation_Type_Owned,Accomodation_Type_Rented,Reco_Insurance_Type_Individual,Reco_Insurance_Type_Joint,Is_Spouse_No,Is_Spouse_Yes
ID,,,,,,,,,,,,,,,,
1,3,1,14+,3.0,36,22,-0.391139,3213,0,36,0,1,1,0,1,0
2,5,2,Unknown,3.0,22,22,2.486110,1117,0,75,1,0,0,1,1,0
3,5,1,1.0,1.0,32,19,-1.027785,3732,1,32,1,0,1,0,1,0
4,24,1,14+,3.0,48,19,0.546306,4378,0,52,1,0,0,1,1,0
5,8,2,3.0,1.0,44,16,-0.577653,2190,0,44,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72683,3,1,4.0,1.0,45,18,0.257393,1044,Unknown,45,1,0,1,0,1,0
72684,4,5,6.0,3.0,59,18,1.096400,266,Unknown,59,1,0,1,0,1,0
72685,12,3,Unknown,3.0,74,1,0.554839,2470,Unknown,74,1,0,1,0,1,0
72686,10,4,3.0,1.0,25,19,-0.400282,1676,Unknown,25,0,1,1,0,1,0
72687,2,2,14+,2.0,73,3,1.347827,3617,Unknown,73,1,0,1,0,1,0

In [67]:
age_cols = df[['Upper_Age','Lower_Age']]

In [68]:
# df[['Age']] = df.Upper_Age 

df.loc[df.Upper_Age == df.Lower_Age,'Age'] = df.Lower_Age
df.loc[df.Upper_Age != df.Lower_Age,'Age'] = age_cols.mean(axis=1)

In [69]:
df.Age.value_counts()

75.0    3143
24.0    2316
23.0    2310
25.0    2272
22.0    2160
        ...
21.5      60
20.5      41
19.5      15
18.5       5
17.5       1
Name: Age, Length: 116, dtype: int64

In [70]:
df[['Holding_Policy_Duration']].value_counts()

Holding_Policy_Duration
Unknown                    28854
1.0                         6390
14+                         6227
2.0                         6032
3.0                         5192
4.0                         3976
5.0                         3354
6.0                         2797
7.0                         2309
8.0                         1885
9.0                         1607
10.0                        1146
11.0                         800
13.0                         732
12.0                         709
14.0                         677
dtype: int64

In [71]:
df[['Holding_Policy_Duration']] = df[['Holding_Policy_Duration']].apply(lambda x: x.replace('Unknown','1.0'))
df[['Holding_Policy_Duration']] = df[['Holding_Policy_Duration']].apply(lambda x: x.replace('14+','15'))

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72687 entries, 1 to 72687
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   City_Code                       72687 non-null  object
 1   Health Indicator                72687 non-null  object
 2   Holding_Policy_Duration         72687 non-null  object
 3   Holding_Policy_Type             72687 non-null  object
 4   Lower_Age                       72687 non-null  int64
 5   Reco_Policy_Cat                 72687 non-null  int64
 6   Reco_Policy_Premium             72687 non-null  float64
 7   Region_Code                     72687 non-null  int64
 8   Response                        72687 non-null  object
 9   Upper_Age                       72687 non-null  int64
 10  Accomodation_Type_Owned         72687 non-null  uint8
 11  Accomodation_Type_Rented        72687 non-null  uint8
 12  Reco_Insurance_Type_Individual  72687 non-null  uint8
 13  Reco_Insurance_Type_Joint       72687 non-null  uint8
 14  Is_Spouse_No                    72687 non-null  uint8
 15  Is_Spouse_Yes                   72687 non-null  uint8
 16  Age                             72687 non-null  float64
dtypes: float64(2), int64(4), object(5), uint8(6)
memory usage: 9.6+ MB

In [73]:
df.drop(['Lower_Age','Upper_Age'],axis=1,inplace=True)

In [74]:
df.head()

,City_Code,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Region_Code,Response,Accomodation_Type_Owned,Accomodation_Type_Rented,Reco_Insurance_Type_Individual,Reco_Insurance_Type_Joint,Is_Spouse_No,Is_Spouse_Yes,Age
ID,,,,,,,,,,,,,,,
1,3,1,15,3.0,22,-0.391139,3213,0,0,1,1,0,1,0,36.0
2,5,2,1.0,3.0,22,2.486110,1117,0,1,0,0,1,1,0,48.5
3,5,1,1.0,1.0,19,-1.027785,3732,1,1,0,1,0,1,0,32.0
4,24,1,15,3.0,19,0.546306,4378,0,1,0,0,1,1,0,50.0
5,8,2,3.0,1.0,16,-0.577653,2190,0,0,1,1,0,1,0,44.0

In [75]:
df_test = df.iloc[50882:,:]

In [76]:
df_train = df.iloc[:50882,:]

In [77]:
df_test.drop('Response',axis=1,inplace=True)

C:\Users\AHS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [78]:
df_test.shape , df_train.shape

((21805, 14), (50882, 15))

In [79]:
tgt1 = df_train[['Response']]
# df_train.drop('Response',axis=1,inplace=True)

In [80]:
tgt1 = tgt1.astype('int')

In [81]:
oversample = SMOTE()
df_sampled,tgt_sampled = oversample.fit_resample(df_train,tgt1)

In [82]:
tgt_sampled.value_counts()

Response
1           38673
0           38673
dtype: int64

In [87]:
X_train, X_test, y_train, y_test = train_test_split(df_sampled.to_numpy(), np.ravel(tgt_sampled), test_size=0.25, random_state=0,stratify=np.ravel(tgt_sampled),shuffle=True)

In [88]:
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

In [89]:
X_train

array([[1.0, 1.0, 11.0, ..., 1, 0, 75.0],
       [2.647238408846355, 1.6472384088463552, 3.4693311380755145, ...,
        1, 0, 71.11656954692187],
       [1.0, 1.6070458929539446, 9.78590821409211, ..., 1, 0,
        70.17886232113817],
       ...,
       [9.0, 1.0, 3.0, ..., 1, 0, 23.0],
       [1.0, 1.0, 15.0, ..., 0, 1, 64.0],
       [3.0, 2.918730114197519, 1.0, ..., 1, 0, 20.406349429012405]],
      dtype=object)

In [91]:
xclf = XGBClassifier(max_depth=8,learning_rate=0.1,n_jobs=-1,
                     objective='binary:logistic',n_estimators=100,seed=123)
# Train the classifier
xclf.fit(X_train, y_train)

y_pred = xclf.predict(X_test)
accuracy_score(y_test,y_pred)
roc_auc_score(y_test,y_pred)
cross_val_score(xclf,X_train, y_train,cv = 6)

[11:30:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              random_state=123, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=123, subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

1.0

1.0

C:\Users\AHS\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:30:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[11:30:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[11:30:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[11:30:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[11:30:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[11:30:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([1., 1., 1., 1., 1., 1.])

In [87]:
df_test1 = df_test.copy()

In [93]:
for c in ['City_Code', 'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type']:
    df_test1[c] = df_test1[c].astype('object')

In [109]:
# df_test1.info()
df_test.shape

(21805, 14)

In [101]:
df_test1 = df_test1.to_numpy()

In [102]:
predictions = xclf.predict(df_test1)

In [112]:
np.unique(predictions)

array([0, 1])

In [103]:
sub = pd.read_csv('sample_submission_QrCyCoT.csv')
sub

          ID  Response
0      50883         0
1      50884         0
2      50885         0
3      50886         0
4      50887         0
...      ...       ...
21800  72683         0
21801  72684         0
21802  72685         0
21803  72686         0
21804  72687         0

[21805 rows x 2 columns]

In [114]:
final = pd.DataFrame(predictions,columns=['Response'])

In [118]:
final

       Response
0             0
1             0
2             0
3             0
4             0
...         ...
21800         0
21801         0
21802         0
21803         0
21804         0

[21805 rows x 1 columns]

In [116]:
sub1 = sub.drop('Response',axis=1)

In [119]:
sub1 = pd.concat([sub1,final],axis=1)

In [135]:
submission_1 = sub1.to_csv('submission_1.csv',index=False)

In [136]:
sub2 = sub1[sub1['Response']==1]

In [138]:
submission_2 = sub2.to_csv('submission_2.csv',index=False)